/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
*/
// 背景画像のフルパス
@background-image:url("/Users/utsusemi-ultimate/Pictures/publicBackGroundPicture/1440_900_20120223032123223025.jpg");
// @background-image:url("/Users/utsusemi-ultimate/Pictures/publicBackGroundPicture/1440_900_20120223032029646367.jpg");

// 背景の色と透過率
@backgound-color-editor: rgba(0, 0, 0, 0.1);
@backgound-color-frame: rgba(0, 0, 0, 0.8);
@backgound-color-gutter: rgba(0, 0, 0, 0.5);
/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
    // ツリービューの背景色
    background-color: #021745;
    // color: gold;
    // ツリービュー（左のプロジェクトファイルなど）の文字フォント
    font-family: cursive;
    // ツリービューの文字サイズ
    font-size: 14px;
}


atom-workspace {
    // 背景
    background: @background-image;
    // 背景のリピート
    background-repeat: no-repeat;
    // background-repeat: repeat-y;
    // 背景画像の大きさ
    background-size: cover;
    //背景画像の位置
    background-position: top;
    // タブの文字フォント
    font-family: cursive;
    atom-pane {
        background-color: transparent;
        atom-text-editor {
            // エディタ部分
            background-color: @backgound-color-editor;
        }
    }
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
    // テキストエディタ内の文字色
    // color: #E6B422;
    // background-color: #111E4E;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow{
    // カーソルの設定
    .cursor {
        // テキストエディタ内のカーソルの色
        border-color: #E6B422;
    }
    // 行番号の設定
    .gutter{
        // 背景色
        background-color: #021745;
        // 文字色
        color: #E6B422;
        width: auto;
        // left: 0px;
        // height: auto;
        text-align: center;
    }
    // 全角スペースの見た目
    .highlight.ideographic-space {
        .region:after {
            background-color: #DDDDDD;
            color: #770000;
            content: "全";
        }
    }
}

/*
atom-text-editor::shadow{
    // テキストエディタ内のカーソルについて
    .cursor {
        // テキストエディタ内のカーソルの色
        border-color: #E6B422;
    }
    // 行番号周辺に関して
    .gutter{
        // 背景色
        background-color: #111E4E;
        // 文字色
        color: #E6B422;
    }
    // 全角スペースの見た目
    .highlight.ideographic-space {
        .region:after {
            background-color: #DDDDDD;
            color: #770000;
            content: "全";
        }
    }
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor, atom-text-editor.editor{
    // テキストエディタ内のカーソルについて
    .cursor {
        // テキストエディタ内のカーソルの色
        border-color: #E6B422;
    }
    // 行番号周辺に関して
    .gutter{
        // 背景色
        background-color: #111E4E;
        // 文字色
        color: #E6B422;
        //
        width: auto;
        left: 0px;
        height: 0px;
        text-align: center;
    }
    // 全角スペースの見た目
    .highlight.ideographic-space {
        .region:after {
            background-color: #DDDDDD;
            color: #770000;
            content: "全";
        }
    }
}
*/
